{% extends 'base.html.twig' %}

{% block body %}
  <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Reference</th>
            <th scope="col">localisation</th>
            <th scope="col">nom</th>
                                    <th scope="col">prix</th>

            <th scope="col">description</th>
            <th scope="col">Action</th>
            
        </tr>
        </thead>
        <tbody>
       {% for produit in produits %}
        <tr>
            <th scope="row">{{produit.idvelo}}</th>
            <td>{{produit.localisation}}</td>
            <td>{{produit.nom}}</td>
            <td>{{produit.prix}}</td>
            <td>{{produit.description}}</td>

            <td>
                <a  class="btn btn-outline-dark" href="{{ path('Espace_edit', { 'idvelo': produit.idvelo }) }}">Modifier</a>
                <a class="btn btn-outline-danger"  href="{{ path('Espace_delete', { 'idvelo': produit.idvelo }) }}"> Supprimer </a>
                {% if produit.etat != "1" %}
                           <a  class="btn btn-outline-dark" href="{{ path('Espace_etat', { 'idvelo': produit.idvelo }) }}">Marque Vendu</a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}    