{% extends "::back.html.twig" %}

{% block title %}LocationBundle:Pointlocation:index{% endblock %}

{% block body %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Locations</li>
                <li class="breadcrumb-item active"><a href="{{ path('point_index') }}">Points de Relais</a></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">

                <a href="{{ path('point_ajouter') }}"  type="button" class="btn btn-info "><i class="fa fa-plus-circle"></i> Ajouter</a>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            {% set i = 0 %}
            {% for flash_message in app.session.flashBag.get('success') %}
                {% if(i==0) %}
                    <div class="alert alert-success alert-rounded"> <img src="../uploads/Annonces/bgapp.jpg" width="30" class="img-circle" alt="img">    {{ flash_message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    {% set i=1 %}
                {% endif %}
            {% endfor %}


            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table product-overview" id="myTable">
                            <thead>
                            <tr>
                                <th>Region</th>
                                <th>Nom</th>
                                <th>langitude</th>
                                <th>latitude</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for velos in ptrel %}
                                <tr>
                                    <td>{{ velos.region}}</td>
                                    <td>{{ velos.nom}}</td>
                                    <td>{{ velos.langitude}}</td>
                                    <td>{{ velos.latitude}}</td>
                                    <td>
                                        <a href="{{ path('point_edit', { 'id': velos.id }) }}" class="btn btn-success">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            <span><strong>Edit</strong></span>
                                        </a>
                                        <a href="{{ path('point_show', { 'id': velos.id }) }}" class="btn btn-info">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            <span><strong>View</strong></span>
                                        </a>
                                        <a href="{{ path('point_delete', { 'id': velos.id }) }}"  class="btn btn-danger" onclick="return confirm('Voulez vous supprimer cette vélo ?')"><i class="ti-trash"></i>
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <span><strong>Delete</strong></span>

                                        </a>

                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>

{% endblock %}
